aiohttp==3.8.1
aiosignal==1.2.0
aniso8601==9.0.1
arrow==1.0.3
association-metrics==0.0.1
astor==0.7.1
asttokens==2.0.5
async-timeout==4.0.1
atomicwrites==1.4.0
attrs==20.3.0
autocorrect==2.2.2
autograd==1.3
autograd-gamma==0.5.0
autopage==0.4.0
binaryornot==0.4.4
bokeh==2.4.2
Brotli==1.0.9
bs4==0.0.1
category-encoders==2.3.0
certifi==2021.10.8
CHAID==5.3.0
charset-normalizer==2.0.8
chart-studio==1.1.0
chefboost==0.0.10
clearml==1.1.4
click==8.1.2
cliff==3.10.0
cmaes==0.8.2
cmd2==2.3.3
colorama==0.4.4
colorlog==6.6.0
colorlover==0.3.0
cycler==0.10.0
cypari==2.4.1
Cython==0.29.28
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2.30.0
dataprep==0.4.1
descartes==1.1.0
dtale==1.61.1
dython==0.6.8
entropy-based-binning==0.0.1
et-xmlfile==1.1.0
executing==0.8.2
feature-engine==1.1.2
Flask==2.1.1
Flask-Compress==1.10.1
flask-ngrok==0.0.25
Flask-RESTful==0.3.8
fonttools==4.31.2
formulaic==0.3.3
frozenlist==1.2.0
furl==2.1.3
future==0.18.2
FXrays==1.3.5
gensim==3.8.3
graphviz==0.16
gunicorn==20.1.0
htmlmin==0.1.12
hupper==1.10.2
hyperopt==0.2.7
idna==2.10
ImageHash==4.2.1
imbalanced-learn==0.7.0
importlib-metadata==4.11.3
importlib-resources==5.4.0
impyute==0.0.8
iniconfig==1.1.1
interface-meta==1.2.3
itsdangerous==2.1.2
jenkspy==0.2.0
Jinja2==3.1.1
jinja2-time==0.2.0
joblib==1.0.1
jupyter==1.0.0
jupyter-console==6.4.0
kaleido==0.2.1
Keras==2.4.3
keras-tuner==1.0.2
kiwisolver==1.4.2
kmodes==0.11.0
knot-floer-homology==1.1
lazypredict==0.2.9
levenshtein==0.12.0
lifelines==0.26.0
lightfm==1.16
lightgbm==2.3.1
linearmodels==4.26
locket==0.2.1
lxml==4.6.2
lz4==3.1.10
MarkupSafe==2.0.1
matplotlib==3.5.1
Metaphone==0.6
missingno==0.4.2
missingpy==0.2.0
mizani==0.7.3
mlxtend==0.18.0
more-itertools==8.11.0
multidict==5.2.0
multimethod==1.7
mypy-extensions==0.4.3
networkx==2.7.1
nltk==3.5
numpy==1.22.3
oauthlib==3.1.0
openpyxl==3.0.7
optuna==2.10.0
orderedmultidict==1.0.1
packaging==21.3
palettable==3.3.0
pandas==1.4.2
pandas-datareader==0.9.0
pandas-profiling==3.1.0
pandasql==0.7.3
partd==1.2.0
PasteDeploy==2.1.1
patsy==0.5.2
pbr==5.8.0
phik==0.12.2
Pillow==9.1.0
plaster==1.0
plaster-pastedeploy==0.7
plink==2.4.1
plotly==5.4.0
plotnine==0.8.0
pluggy==0.13.1
pmdarima==1.7.1
poyo==0.5.0
ppscore==1.2.0
prettytable==2.5.0
prince==0.7.1
probableparsing==0.0.1
property-cached==1.6.4
psutil==5.8.0
pure-eval==0.2.1
py==1.10.0
py4j==0.10.9.3
pydantic==1.9.0
pyECLAT==1.0.2
pyforest==1.1.0
pyfpgrowth==1.0
pyhdfe==0.1.0
PyJWT==2.1.0
PyMySQL==1.0.2
pyodbc==4.0.32
pyparsing==2.4.7
pyperclip==1.8.2
pypng==0.0.21
pyramid==1.10.5
pyramid-admin==0.4.1
pyramid-jinja2==2.8
pyreadline3==3.3
PySocks==1.7.1
pytest==5.4.3
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-slugify==4.0.1
python-stdnum==1.17
pytz==2022.1
PyWavelets==1.3.0
PyYAML==5.3.1
qtconsole==5.2.2
QtPy==2.0.1
regex==2020.11.13
RegscorePy==1.1
requests==2.27.1
requests-oauthlib==1.3.0
retrying==1.3.3
savReaderWriter==3.4.2
scikit-learn==1.0.2
scikit-surprise==1.1.1
scipy==1.8.0
seaborn==0.10.1
setuptools-scm==6.4.2
six==1.15.0
sklearn-recommender==0.1.5
smart-open==4.1.0
snappy==3.0.3
snappy-manifolds==1.1.2
soupsieve==2.0.1
spherogram==2.1
SQLAlchemy==1.3.23
squarify==0.4.3
statsmodels==0.13.2
stevedore==3.5.0
strsimpy==0.2.1
surprise==0.1
sweetviz==2.1.3
tables==3.7.0
tablib==3.1.0
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
terminaltables==3.1.0
text-unidecode==1.3
textblob==0.15.3
threadpoolctl==2.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
tqdm==4.56.0
translationstring==1.4
treelib==1.6.1
tweepy==3.9.0
typing_extensions==4.0.0
urllib3==1.26.9
usaddress==0.5.10
varname==0.8.1
venusian==3.0.0
visions==0.7.4
WebHelpers==1.3
WebOb==1.8.6
Werkzeug==2.1.1
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.14.0
WTForms==2.3.3
xarray==0.20.1
xgboost==1.1.1
xlrd==1.2.0
yarl==1.7.2
zipp==3.6.0
zope.deprecation==4.4.0
zope.interface==5.2.0
